:root {
  --main-font: "Outfit", sans-serif;
  --btn-bg-color: #263fa9;
  --input-bg-color: #030616;
  --placeholder-color: #fafaf9;
  --circle-bg-color: #f8fafc1a;
  --btn-color-text: #f2f5f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
main {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100dvh;
  font-family: var(--main-font);
  background-image: url("../resources/qa-bg-small.jpg");
  background-position: right 42% bottom 45%;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

main {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

picture {
  margin-bottom: 1rem;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0.5rem;
  color: #f2f5f9;
}

.author-info a {
  text-decoration: none;
}

.btn {
  position: relative;
  padding: 1rem 0;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--btn-bg-color);
  border-radius: 10px;
}

.btn img {
  position: absolute;
}

.download {
  width: 180px;
}

.download img {
  top: 14px;
  left: 135px;
}

.form-qr {
  max-width: 550px;
  width: 95%;
  position: relative;
  display: inline-block;
}

.form-qr input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  padding-right: 90px;
  border: none;
  border: 2px solid var(--btn-bg-color);
  border-radius: 15px;
  background-color: var(--input-bg-color);
  color: var(--placeholder-color);
  outline: none;
}

input::placeholder {
  color: var(--placeholder-color);
}

.form-qr button {
  position: absolute;
  right: 7px;
  top: 7px;
  bottom: 7px;
  border: none;
  width: 120px;
  background-color: var(--btn-bg-color);
  color: var(--placeholder-color);
}

.form-qr button {
  border-radius: 8px;
}

.hidden-section {
  display: none;
}

.url-section {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 90%;
  text-align: center;
}

.share {
  width: 160px;
}

.share img {
  top: 14px;
  left: 112px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: var(--btn-color-text);
}

@media screen and (min-width: 48rem) {
  body {
    background-image: url("../resources/qa-bg.jpg");
    background-position: right 44% bottom 45%;
  }
}

@media screen and (min-width: 64rem) {
  .form-qr button {
    cursor: pointer;
  }
}
